* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#standard-basic1 , #standard-basic2 , #standard-basic3 {
  width: 400px;
  color : blue;
  font-weight: bold;
  font-size: 22px;
  font-family: sans-serif;
}

#demo-simple-select {
  border: 2px solid blue;
  color: darkblue;
}

.my-label {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}